{% extends 'aula_virtual/base.html' %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'aula_virtual/css/alta_alumno.css' %}">
{% endblock %}

{% block titulo %}Envianos tu consulta{% endblock %}

{% block encabezado %}
<h1>Envianos tu consulta</h1>
<h2>Nos pondremos en contacto a la brevedad</h2>
{% endblock %}

{% block contenido %}
<form action="{% url 'enviar_consulta' %}" method="POST">
    {% csrf_token %}
    {{form}}
    <input type="submit">
</form>
{% endblock %}