{% extends 'aula_virtual/base.html' %}
{% load static %}

{% block titulo %}Aula Virtual 2.0{% endblock %}

{% block encabezado %}
<h1>Aula Virtual 2.0</h1>
<p>Bienvenid@ <b>{{first_name}} {{last_name}}</b></p>
{% include 'aula_virtual/componentes/anuncio.html' %}
{% endblock %}

{% block contenido %}
<section>
    <h2>Alumno ficticio "obtenido" de la base de datos</h2>
    <article>
        <p>Nombre: {{alumn.name}}</p>
        <p>Apellido: {{alumn.last_name}}</p>
        <p>Edad: {{alumn.age}}</p>

        {% if not alumn.valid %}
            {% filter upper %}
                <p style="color: red;">Alerta! Este alumno no está validado aún</p>
            {% endfilter %}
        {% endif %}
    </article>
</section>
<section>
    <h2>Listado de alumnos</h2>
    {% for alumno in listado_alumnos %}
        <article>
            <p>Nombre: {{alumno.name}}</p>
            <p>Apellido: {{alumno.last_name}}</p>
        </article>
    {% endfor %}

    {% include 'aula_virtual/componentes/anuncio.html' %}
</section>
<section>
    <h2>Un perrito</h2>
    <img src="{% static 'aula_virtual/img/perrito.jpg' %}" alt="un perrito">
</section>
{% endblock %}